:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-blue: hsl(229, 23%, 23%);
  --dark-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--dark-cyan);

  font-size: 1.6rem;
  font-family: 'Kumbh Sans', sans-serif;

  display: grid;
  place-content: center;

  position: relative;
}

body::before,
body::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  position: absolute;
  background-image: url('/images/bg-pattern-top.svg');
  background-repeat: no-repeat;
  background-position: -32rem -60rem;
}

body::after {
  background-image: url('/images/bg-pattern-bottom.svg');
  background-position: 72rem 24rem;
}

main {
  z-index: 50;
  box-shadow: 0 4px 2px rgb(0, 0, 0, 0.2);

  width: 40rem;

  background-color: white;
  border-radius: 1.2rem;

  position: relative;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;

  width: 100%;
  height: 14rem;

  background-image: url('/images/bg-pattern-card.svg');
}

button {
  cursor: pointer;
  border: none;
}

.avatar {
  border: 4px solid white;
  border-radius: 50%;
  margin-top: 6.4rem;

  z-index: 60;
  cursor: pointer;
}

.new-user-button {
  padding: 8px;
  background-color: var(--very-dark-blue);
  opacity: 0.8;
  border-radius: 8px;
  color: white;
  position: absolute;
  bottom: -1rem;
  z-index: 60;

  transition: all 0.3s;
  pointer-events: none;
  opacity: 0;
  transform: translateY(8px);
}

.avatar:hover + .new-user-button,
.new-user-button:hover {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.active-attibute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  margin: 1.6rem auto;
  width: max-content;
}

.active-attribute-value {
  text-align: center;
  font-size: 2.4rem;
}

.active-attribute-label {
  font-weight: 400;
  color: var(--dark-gray);
}

.name {
  margin-top: 2.4rem;
}

.age {
  font-weight: 400;
  color: var(--dark-gray);
  margin-left: 0.8rem;
  font-weight: 700;
}

.location {
  margin-top: 1.2rem;
  color: var(--dark-gray);
  font-weight: 700;
}

footer {
  border-top: 1px solid var(--very-dark-blue);
  padding: 2.4rem 2.4rem 1.2rem;
  margin-top: 4rem;
}

ul {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  font-size: 3.2rem;
  color: var(--dark-gray);
  cursor: pointer;
}

li.active {
  color: var(--dark-cyan);
  position: relative;
}

li.active > div::before {
  content: '';
  position: absolute;
  top: -2px;
  background-color: var(--dark-cyan);
  width: 100%;
  height: 2px;
}

li.up > div {
  animation: up 0.3s linear;
}

li.down > div {
  animation: down 0.3s linear;
}

@keyframes up {
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}

@keyframes down {
  to {
    opacity: 0;
    transform: translateY(8px);
  }
}
